<!DOCTYPE html>

<head>
</head>

<body id="top">
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
						<span class="sr-only">Toggle Navigation</span>
						<i class="fa fa-bars"></i>
					</button>
          <a href="#top" class="navbar-brand navbar-logo">
            MATTHEW GOULD - Probs do something with this
          </a>
				</div>
				<!-- MAIN NAVIGATION -->
				<div id="main-nav" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#top">HOME</a>
						</li>
						<li>
							<a href="#about">ABOUT ME</a>
						</li>
						<li>
							<a href="#resume">RESUME</a>
						</li>
						<li>
							<a href="#portfolio">PORTFOLIO</a>
						</li>
						<li>
							<a href="#contact">CONTACT ME</a>
						</li>
					</ul>
				</div>
				<!-- MAIN NAVIGATION -->
			</div>
		</nav>
    <br>
    <br>
    <br>
		<!-- END NAVBAR -->

		<!-- HERO UNIT -->
		<section class="hero-unit-animated">
			<div id="carousel-hero-animated" class="carousel slide" data-ride="carousel" data-interval="5000">
				<!-- Slide Wrapper -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="container">
							<div class="hero-left pull-left">
								<div class="hero-text">
									<h2 class="hero-heading animated fadeIn animation-delay-5">RUBY ON RAILS DEVELOPER</h2>
									<p class="lead animated fadeIn animation-delay-7">Eager to devour knowledge of all things tech</p>
								</div>
								<a href="#about" class="btn btn-info btn-lg hero-button animated fadeIn animation-delay-12">LEARN MORE</a>
							</div>
							<div class="hero-right pull-right">
								<img src="/assets/rails.png" class="animated fadeInRight animation-delay-9" alt="Repute Business Theme">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="container">
							<div class="hero-left pull-left">
								<div class="hero-text">
									<h2 class="hero-heading animated fadeIn animation-delay-5">THE IRON YARD</h2>
									<p class="lead animated fadeIn animation-delay-7">Recently graduated from the Ruby on Rails course at The Iron Yard</p>
								</div>
								<a href="#about" class="btn btn-info btn-lg hero-button animated fadeIn animation-delay-12">LEARN MORE</a>
							</div>
							<div class="hero-right pull-right">
								<img src="/assets/TIY1.png" class="animated fadeInRight animation-delay-9" alt="Repute Business Theme">
							</div>
						</div>
					</div>
					<div class="item">
						<div class="container">
							<div class="hero-left pull-left">
								<div class="hero-text">
									<h2 class="hero-heading animated fadeIn animation-delay-5">PLZ TO BE HIRING?</h2>
									<p class="lead animated fadeIn animation-delay-7">Looking for a career in development with a shop that values paired programming and mentoring</p>
								</div>
								<a href="#about" class="btn btn-info btn-lg hero-button animated fadeIn animation-delay-12">LEARN MORE</a>
							</div>
							<div class="hero-right pull-right">
								<img src="/assets/ruby1.png" class="animated fadeInRight animation-delay-9" alt="Repute Business Theme">
							</div>
						</div>
					</div>
				</div>
				<!-- End Slide Wrapper -->

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-hero-animated" role="button" data-slide="prev">
					<span class="fa fa-angle-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-hero-animated" role="button" data-slide="next">
					<span class="fa fa-angle-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				<!-- End Controls -->

				<!-- Pagination -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-hero-animated" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-hero-animated" data-slide-to="1"></li>
					<li data-target="#carousel-hero-animated" data-slide-to="2"></li>
				</ol>
				<!-- End Pagination -->
			</div>
		</section>
		<!-- END HERO UNIT -->

		<!-- ABOUT -->
		<section id="about">
			<div class="container">
				<div class="heading-center">
        <br>
					<h2 class="section-heading">ABOUT ME</h2>
					<p class="lead">passionate junior developer</p>
					<hr>
				</div>
				<p>From a business economics degree, to a poker dealer, to a Ruby on Rails developer. The path may not have been ordinary, but I've finally found my passion. At the beginning of the year I quit my job, moved to DC and took a life changing course in Ruby on Rails development at The Iron Yard. Through this course I learned the intricacies of Ruby, the power of Rails, and the amazing things that can be done when the two work together.</p>
        <p>I've been a computer guy my entire life. I've always tinkered with programs, built my own rigs and spent a lot of time playing around on them. It seemed obvious that I should pursue a career in some kind of development but I didn't realize that's what I wanted to do with my life until recently.</p>
				<p>When I'm not glued to my computer, you can find me at a poker table, on a soccer pitch, working on my car, or entranced by my latest favorite television show.</p>
				<br>
        <hr>

		<!-- SERVICES -->
		<section id="resume">
			<div class="container">
				<div class="heading-center">
        <br>
         <div id="pdf">
          <object width="825" height="1060" type="application/pdf" data="/gould-resume-5-15.pdf" id="pdf_content">
            <p>Insert your error message here, if the PDF cannot be displayed.</p>
          </object>
        </div>
        <br>
        <hr>
					<h2 class="section-heading">TECHNICAL SKILLS</h2>
					<p class="lead">What can I do for you?</p>
					<hr>
				</div>
				<!-- BOXED CONTENT -->
				<div class="row">
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-diamond"></i>
							<h2 class="boxed-content-title">RUBY</h2>
							<p>Versed in the object oriented. Ruby is a powerful languge in and of itself and I have delved deep into Ruby to gain a clear understanding of the basic and advanced aspects of such a language.</p>
						</div>
					</div>
          <div class="col-md-4">
            <div class="boxed-content left-aligned left-boxed-icon">
              <i class="fa fa-subway"></i>
              <h2 class="boxed-content-title">RAILS</h2>
              <p>One of the most powerful tools of Ruby, Rails allows for a quick, organized framework for web integration of any Ruby app. Although I am familiar with Sinatra web apps, Rails is my prefered method for any and all web development.</p>
            </div>
          </div>
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-coffee"></i>
							<h2 class="boxed-content-title">JAVASCRIPT</h2>
							<p>A basic understanding of Javascript and its syntax allows for the use of some cool effects through JQUERY and other methods. Altohugh I am comfortable working with Javascript, it is not something I have used often and Ruby is always my go to language.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-adjust"></i>
							<h2 class="boxed-content-title">HTML & CSS</h2>
							<p>The ability to build HTML from the ground up as well as pull in popular templates through the use of Bootstrap and other products allows for a backend developer like me to produce professional, great looking websites at a fraction of the speed it would take to build the front end from scratch. Basic CSS understanding allows for the manipulation of templates to insure that no website looks the same.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-github-alt"></i>
							<h2 class="boxed-content-title">GIT FLOW & COLLABORATION</h2>
							<p>The use of of a stash like Github, and the workflow associated with it, is a key part of working in a team. The ability to create a new branch, build a new feature and then code review everything before pulling it into the master brach is a fundamental aspect of how I code.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="boxed-content left-aligned left-boxed-icon">
							<i class="fa fa-car"></i>
							<h2 class="boxed-content-title">TEST DRIVEN DEVELOPMENT</h2>
							<p>Learned the nececity and benefit of letting tests drive the development process using Minitest and Rspec. Test Driven Development keeps projects scalable and relatively error free. It also provides a nice framework for developing new models and functions in a logical manner.</p>
						</div>
					</div>
				</div>
				<!-- END BOXED CONTENT -->
			</div>
		</section>
		<!-- END SERVICES -->

		<!-- PORTFOLIO -->
		<section id="portfolio">
			<div class="container">
				<div class="heading-center">
        <br>
					<h2 class="section-heading">PORTFOLIO</h2>
					<p class="lead">Some of my projects</p>
					<hr>
				</div>
		<!-- END PORTFOLIO-->

		<!-- PRICING -->
				<div class="multiple-pricing-table">
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<div class="pricing-item">
								<%= image_tag("matt-tv1.png") %>
								<h4>MATT-TV</h4>
                <hr>
                <ul class="list-unstyled plan-detail-list">
                  <li><strong>Site</strong> matt-tv.herokuapp.com</li>
                  <li><strong>Github</strong> https://github.com/matthew-gould/Matt-TV</li>
                </ul>
								<p>My final project at The Iron Yard. This app is a combination of real time API calls and scraping to track aspects of television shows. A person, after logging in via Facebook, can add any of the shows to their list of favorites and track them. Each show has a profile page with current season information, synopsis, video (if available) and photos. The app also includes a robust, fulltext postgres search function.</p>
								<button type="button" class="btn btn-primary">Github</button>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="pricing-item">
								<i class="fa fa-car plan-icon"></i>
								<h4>SPOTIBETICAL</h4>
								<hr>
                <ul class="list-unstyled plan-detail-list">
                  <li><strong>Site</strong> http://spotibetical.herokuapp.com/</li>
                  <li><strong>Github</strong> https://github.com/matthew-gould/spotibetical</li>
                </ul>                
                <p>
                Our first big, class project. A song ranking/playing app created using Spotify and agile/SCRUM practices. 
                </p>
                <p>I was responsible for /lib/user.rb lines 24-46 and the end points that went with them (spotibetical.rb lines 154-171), and the entire home page /views/home. At the end of each day, all git branches were code reviewed and merged pending class approval.
                </p>
								<button type="button" class="btn btn-primary">Github</button>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="pricing-item">
								<i class="fa fa-rocket plan-icon"></i>
								<h4>GAMES ON RAILS</h4>
                <hr>
								<ul class="list-unstyled plan-detail-list">
                  <li><strong>Github</strong> https://github.com/matthew-gould/tictactoe</li>
                </ul>
                <p>
								<button type="button" class="btn btn-primary">Github</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END PRICING -->

		<!-- FOOTER -->
    <a name='contact'></a>
		<footer>
    <!-- COLUMN 3 -->
    <div class="newsletter">
      <div class="alert"></div>
        </div>
        <div class="text-center social-connect">
        <ul class="list-unstyled plan-detail-list">
          <li>Matthew Gould</li>
          <li>gouldm44@gmail.com</li>
          <li>614-395-3916</li>
          <li>Columbus, Ohio</li>
        </ul>
        <h3 class="footer-heading"><font color="white"></font></h3>
        <ul class="list-inline social-icons">
        <li>
          <a href="https://www.linkedin.com/pub/matthew-gould/7/411/519" class="rss-bg" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://github.com/matthew-gould" class="googleplus-bg" target="_blank"><i class="fa fa-github"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/gouldy_on_rails" class="twitter-bg" target="_blank"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="mailto:gouldm44@gmail.com" class="facebook-bg"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
    <!-- END COLUMN 3 -->

      <!-- COPYRIGHT -->
      <div class="text-center copyright">
        &copy;2015 Gould Development. All Rights Reserved.<br>
        <%= image_tag("trashfire.png", size: '17x30') %> 
      </div>
      <!-- END COPYRIGHT -->
    </footer>
		<!-- END FOOTER -->

		<div class="back-to-top">
			<a href="#top"><i class="fa fa-chevron-up"></i></a>
		</div>

	</div>
	<!-- END WRAPPER -->

</body>

</html>
